<ion-header>
  <ion-navbar>
  	<ion-buttons left>
  		<button ion-button icon-only small clear (click) = "voltarPagina()">
  			<ion-icon name="arrow-back"></ion-icon>
  		</button>
  	</ion-buttons>

    <ion-title>Atendimento</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list no-lines>
		<ion-item>
			<ion-label stacked>Animal</ion-label>
			<ion-select [(ngModel)]="atendimento.animal">
				<ion-option *ngFor = "let animal of animais" value = {{animal.id}}>
					{{animal.nome}}
				</ion-option>
			</ion-select>
		</ion-item>

		<ion-item>
			<ion-label stacked>Atendente</ion-label>
			<ion-input placeholder="Nome do Atendente" type="text" [(ngModel)]="atendimento.atendente"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label stacked>Serviço</ion-label>
			<ion-input placeholder="Tipo de Serviço" type="text" [(ngModel)]="atendimento.servico"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label stacked>Preço (R$)</ion-label>
			<ion-input placeholder="Preço do Serviço" type="number" [(ngModel)]="atendimento.preco"></ion-input>
		</ion-item>
	</ion-list>

	<button ion-button block (click) = "salvar()">Salvar</button>
</ion-content>