<ion-tabs>
  <!-- <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab> -->
  <!-- <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab> -->
  <!-- <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab> -->
  <ion-tab [root]="tab1Root" tabTitle="Animal" tabIcon="logo-octocat"></ion-tab> 
  <ion-tab [root]="tab2Root" tabTitle="Atendimento" tabIcon="ios-bookmarks-outline"></ion-tab> 

</ion-tabs>
