<ion-header>
  <ion-navbar>
    <ion-title>Atendimentos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list no-lines>
    <ion-item-sliding *ngFor = "let atendimento of atendimentos">
      <ion-item>
        {{atendimento.atendente}} | {{atendimento.servico}}
      </ion-item>

      <ion-item-options>
        <button ion-button color="primary" (click)="alteraAtendimento(atendimento)">
          <ion-icon name = "create"></ion-icon>
        </button>

        <button ion-button color="danger" (click)="removeAtendimento(atendimento)">
          <ion-icon name = "trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

	<ion-fab bottom right>
		<button ion-fab color="danger" (click) = "abreFormAtendimento()">
			<ion-icon name="add"></ion-icon>
		</button>
	</ion-fab>
</ion-content>