<ion-header>
  <ion-navbar>
  	<ion-buttons left>
  		<button ion-button icon-only small clear (click) = "voltarPagina()">
  			<ion-icon name="arrow-back"></ion-icon>
  		</button>
  	</ion-buttons>

    <ion-title>Cadastro Animal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list no-lines>
		<ion-item>
			<ion-label stacked>Nome</ion-label>
			<ion-input placeholder="Nome do Animal" type="text" [(ngModel)]="animal.nome"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label stacked>Raça</ion-label>
			<ion-input placeholder="Raça do Animal" type="text" [(ngModel)]="animal.raca"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label stacked>Proprietário</ion-label>
			<ion-input placeholder="Nome do Proprietário" type="text" [(ngModel)]="animal.proprietario"></ion-input>
		</ion-item>
	</ion-list>

	<button ion-button block (click) = "salvar()">Salvar</button>
</ion-content>